@charset "utf-8";
h6 {
	position: fixed;
	right: 1rem;
	bottom: -50px;
	transition: 0.7s ease;
	z-index: 2;
}
.on {
	opacity: 0.8;
	cursor: pointer;
	bottom: 0;
}

a {
	text-decoration: none !important;
}
.main {
	font-size: 18px;
}
.sub {
	font-size: 16px !important;
	margin-left: 24px !important;
}

.adminLeft {
	float: left;
	width: 19%;
}
.adminContent {
	float: right;
	width: 80%;
}