h6 {
	position: fixed;
	right: 1rem;
	bottom: -50px;
	transition: 0.7s ease;
	z-index: 2;
}
.on {
	opacity: 0.8;
	cursor: pointer;
	bottom: 0;
}
th {
		background-color: #eee !important;
		text-align: center;
}