h6 {
	position: fixed;
	right: 1rem;
	bottom: -50px;
	transition: 0.7s ease;
	z-index: 2;
}
.on {
	opacity: 0.8;
	cursor: pointer;
	bottom: 0;
}

#content img {
	max-width: 100%;
}

label {width:100px;}
		.boxWidth {width: 18%;}