<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS12.dao.BoardDAO">
	<select id="getTotRecCnt" resultType="int">
		SELECT count(idx) FROM board WHERE complaint != 'DE' 
			<if test="flag == 'best'">AND good >= 5</if>
			<if test="flag == 'new'">AND boardDate >= date_add(now(), interval -7 day)</if>
			<if test="search != ''">AND ${search} LIKE concat("%"#{searchStr}"%")</if>;
	</select>
	<select id="getBoardList" resultType="com.spring.springGroupS12.vo.BoardVO">
		SELECT *, timestampdiff(hour, boardDate, now()) AS hourDiff, datediff(now(), boardDate) AS dateDiff, 
			(SELECT count(*) FROM reply WHERE parentIdx = board.idx) AS replyCnt 
			FROM board WHERE complaint != 'DE' 
			<if test="search != ''">AND ${search} LIKE concat("%"#{searchStr}"%")</if> 
			ORDER BY idx DESC LIMIT #{startIndexNo}, #{pageSize};
	</select>
	<select id="getBoard" resultType="com.spring.springGroupS12.vo.BoardVO">
		SELECT * FROM board WHERE idx = #{idx};
	</select>
	<select id="getParentIdx" resultType="int">
		SELECT idx FROM board ORDER BY idx DESC LIMIT 1; 
	</select>
	<select id="getBoardBest" resultType="com.spring.springGroupS12.vo.BoardVO">
		SELECT *, timestampdiff(hour, boardDate, now()) AS hourDiff, datediff(now(), boardDate) AS dateDiff, 
			(SELECT count(*) FROM reply WHERE parentIdx = board.idx) AS replyCnt 
			FROM board WHERE complaint != 'DE' AND good >= 5 
			<if test="search != ''">AND ${search} LIKE concat("%"#{searchStr}"%")</if> 
			ORDER BY idx DESC LIMIT #{startIndexNo}, #{pageSize};
	</select>
	<select id="getBoardListHome"  resultType="com.spring.springGroupS12.vo.BoardVO">
		SELECT *, (SELECT count(*) FROM reply WHERE parentIdx = board.idx) AS replyCnt FROM board ORDER BY idx DESC limit 5;
	</select>
	
	
	
	<insert id="setBoardInput">
		INSERT INTO board VALUES(DEFAULT,#{vo.mid},#{vo.nickName},#{vo.title},#{vo.content},#{vo.openSW},#{vo.pwd},DEFAULT,DEFAULT,DEFAULT,DEFAULT);
	</insert>
	
	
	
	<update id="setGood">
		UPDATE board SET good = good + #{goodCnt} WHERE idx = #{idx};
	</update>
	<update id="contentView">
		UPDATE board SET views = views + 1 WHERE idx = #{idx};
	</update>
	<update id="setBoardUpdate">
		UPDATE board SET title = #{vo.title}, content = #{vo.content} WHERE idx = #{vo.idx};
	</update>
	
	
	
	<delete id="setBoardDelete">
		DELETE FROM board WHERE idx = #{idx};
	</delete>
</mapper>