<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS12.dao.DeliveryDAO">
	<select id="getShoppingBagList" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT * FROM delivery WHERE mid = #{mid} AND deliverySW = '대기중' ORDER BY idx;
	</select>
	<select id="getShoppingBag" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT * FROM delivery WHERE mid = #{mid} AND deliverySW = '대기중' LIMIT 1;
	</select>
	<select id="getShoppingBagIdx" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT * FROM delivery WHERE deliveryIdx = #{deliveryIdx};
	</select>
	<select id="getShoppingBagLastList" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT * FROM delivery WHERE idx = #{idx};
	</select>
	<select id="getShoppingBagDuplicat" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT * FROM delivery WHERE mid = #{mid} AND title = #{title} AND deliverySW = #{flag} ORDER BY idx DESC LIMIT 1;
	</select>
	<select id="getDeliveryListDeliveryIdx" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT * FROM delivery WHERE deliveryIdx = #{deliveryIdx} AND deliverySW = '준비중';
	</select>
	<select id="getDeliveryListDeliveryMid" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT * FROM delivery WHERE mid = #{mid} AND deliverySW != '구매완료' ORDER BY deliveryIdx;
	</select>
	<select id="getDeliveryListDeliveryDelivery" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT *, to_days(now()) - to_days(orderDate) AS compDate FROM delivery WHERE deliverySW != '대기중'<if test="deliverySW != '전체'"> AND deliverySW = #{deliverySW}</if> ORDER BY deliveryIdx; 
	</select>
	<select id="getDeliveryListMain" resultType="com.spring.springGroupS12.vo.DeliveryVO">
		SELECT parentIdx, deliveryIdx, title, deliverySW, (SELECT idx FROM reply WHERE delivery.parentIdx = reply.parentIdx AND reply.part = 'shop' AND reply.mid = #{mid}) AS replyIdx 
		FROM delivery WHERE mid = #{mid} AND deliverySW != '대기중' ORDER BY deliveryIdx LIMIT 5;
	</select>


	
	<insert id="setShoppingBag">
		INSERT INTO delivery VALUES(DEFAULT,#{parentIdx},#{deliveryIdx},#{mid},#{nickName},#{email},#{title},#{orderQuantity},#{price},#{address},#{productImage},#{deliverySW},#{point},DEFAULT);
	</insert>
	
	
	
	<update id="setShoppingBagUpdate">
		UPDATE delivery SET orderQuantity = #{orderQuantity} WHERE idx = #{idx};
	</update>
	<update id="setShoppingBagLastUpdate">
		UPDATE delivery SET orderQuantity = #{orderQuantity} WHERE idx = #{idx};
	</update>
	<update id="setDeliveryLastUpdate">
		UPDATE delivery SET deliveryIdx = #{dVO.deliveryIdx}, price = (#{dVO.price}*#{dVO.orderQuantity})<if test="dVO.usedPoint != 0"> - (#{dVO.usedPoint}/10)</if>, address = #{dVO.address}, deliverySW = #{dVO.deliverySW}, usedPoint = #{dVO.usedPoint}, orderDate = now() WHERE idx = #{idx};
	</update>
	<update id="setDeliverySWUpdate">
		UPDATE delivery SET deliverySW = #{deliverySW}, orderDate = now() WHERE deliveryIdx = #{deliveryIdx};
	</update>
	
	
	
	<delete id="setShoppingBagDelete">
		DELETE FROM delivery WHERE idx = #{idx};
	</delete>
	<delete id="setShoppingBagDeleteDeliveryIdx">
		DELETE FROM delivery WHERE deliveryIdx = #{deliveryIdx};
	</delete>
</mapper>