<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.springGroupS12.dao.ShopDAO">
	<select id="getTotRecCnt" resultType="int">
		SELECT count(idx) FROM shop ORDER BY idx DESC;
	</select>
	<select id="getProductList" resultType="com.spring.springGroupS12.vo.ShopVO">
		SELECT * FROM shop WHERE openSW = '공개' ORDER BY idx DESC;
	</select>
	<select id="getProduct" resultType="com.spring.springGroupS12.vo.ShopVO">
		SELECT * FROM shop WHERE idx = #{idx};
	</select>
	<select id="getProductSubList" resultType="com.spring.springGroupS12.vo.ShopVO">
		SELECT * FROM shop WHERE <if test="mid != '전체'">mid = #{mid} AND</if> (openSW = '신청접수' OR openSW = '신청반려');
	</select>
	<select id="getProductProductImage" resultType="com.spring.springGroupS12.vo.ShopVO">
		SELECT * FROM shop WHERE productImage = #{productImage};
	</select>
	<select id="getProductListHome" resultType="com.spring.springGroupS12.vo.ShopVO">
		SELECT idx, title, productImage, price, quantity FROM shop WHERE openSW = '공개' ORDER BY idx DESC LIMIT 8;
	</select>
	
	
	
	<insert id="setProductInput">
		INSERT INTO shop VALUES(DEFAULT,#{vo.mid},#{vo.nickName},#{vo.kategorie},
			#{vo.title},#{vo.productImage},#{vo.content},#{vo.price},#{vo.quantity},#{vo.pwd}, #{vo.openSW}, 
			DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT);
	</insert>
	
	
	
	<update id="setProductQuantityUpdate">
		UPDATE shop SET quantity = quantity - #{orderQuantity}, sold = sold + 1 WHERE idx = #{idx};
	</update>
	<update id="setProductQuantityRollback">
		UPDATE shop SET quantity = quantity + #{orderQuantity}, sold = sold - 1 WHERE idx = #{idx};
	</update>
	<update id="setProductOpenSWUpdate">
		UPDATE shop SET openSW = 
		<if test="openSW != '공개/처리완료'">#{openSW}</if> 
		<if test="openSW == '공개/처리완료'">'공개'</if> WHERE idx = #{idx};
	</update>
	
	
	
	<delete id="setProductSubDelete">
		DELETE FROM shop WHERE idx = #{idx};
	</delete>
</mapper>